* {
    font-family: "Baskervville", serif;
    color: #000;
}

body {
    background-image: linear-gradient(
        transparent, 
        #fdf1ff,
        #dbe8f5,
        transparent
    );
    margin: auto 20px;
}

textarea {
    resize: none;
}

header, footer, #description {
    text-align: center;
}

footer {
top: auto;
bottom: 0;
left: 0;
right: 0;
position: absolute;
}

footer {
    margin-bottom: 10px;
}

fieldset {
    border: 1px #000 dashed;
    margin: 15px 0;
    padding: 15px;
}

fieldset:nth-of-type(6) {
    border: none;
}

#submit {
    background-color:   #fdf1ff;
    border: 1px black dashed;
}

.first > :not(:last-child), .rec > :not(:last-child), .os-s > :not(:last-child)  {
    margin-right: 15px;
}