* {
    font-family: "Baskervville", serif;
    font-weight: bold;
}
:root {
    --pink: #fdf1ff;
    --blu: #dbe8f5;
}

body {
    background-image: linear-gradient(
        transparent, 
        var(--pink),
        var(--blu),
        transparent
    );
    margin: auto;
}

h1, footer {
    background-image: linear-gradient(
        transparent,
        var(--blu),
        transparent
    );
    width: 100%;
}

 h1 {
    margin-bottom: 15px;
}

#description {
    margin-top: 0;
}

#survey-form {
    margin: 0 15px;
    width: 65%;
    margin: auto;
}

textarea {
    resize: none;
}

header, footer, #description {
    text-align: center;
}

footer {
top: auto;
bottom: 0;
left: 0;
right: 0;
position: absolute;
margin-bottom: 10px;
font-size: 14px;
}

fieldset {
    border: 1px #000 dashed;
    margin: 25px 0;
    padding: 15px;
}

fieldset:nth-of-type(6) {
    border: none;
    margin-top: -25px;
}

#submit {
    background-color:   #fdf1ff;
    border: 1px black dashed;
}

.first > :not(:last-child), .rec > :not(:last-child), .os-s > :not(:last-child)  {
    margin-right: 15px;
}

.first > label > input {
    margin-left: 5px;
}

input[type="radio"]:checked:before {
    accent-color: transparent;
}

input[type="radio"]:checked {
    accent-color: var(--blu);
}

input[type="checkbox"] {
    accent-color: var(--pink);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
